.container {
  position: relative;
  width: 100%;
  height: 100vh; /* Full screen hero */
  overflow: hidden;
}
.canvas {
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 1.8s cubic-bezier(0.7, 0, 0, 1);
  border-radius: 0;
  box-shadow: transparent 0 0 0 0, transparent 0 0 0 0;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -1;
  -webkit-clip-path: polygon(-10% -10%, 110% -10%, 110% 110%, -10% 110%);
  clip-path: polygon(-10% -10%, 110% -10%, 110% 110%, -10% 110%);
  background-color: #030205;
  overflow: hidden;
}
