.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 10;
}

.slidesWrapper {
  display: flex;
  gap: 32px;
  will-change: transform;
}

.card {
  list-style: none;
  padding: 0;
  margin: 0;
  left: 0;
}
