.container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 9;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: slider-rotation 12s ease-in-out infinite alternate;
}

@media screen and (max-width: 768px) {
  .slider {
    margin-bottom: 100px;
    animation: none;
  }
}
.cards {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: 100%;
  gap: 8px;
}

.card {
  list-style: none;
  padding: 0;
  margin: 0;
  /* position: absolute; */
  left: 0;
}

@keyframes slider-rotation {
  0% {
    transform: rotate3d(0, 0, 1, -3deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, 3deg);
  }
}

.marqueeWrapper {
  position: absolute;
  top: 30%;
  transform: translateY(-30%);
}
.marqueeInner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2rem;

  padding: 4rem 0;
  user-select: none;
  animation: slider-rotation 12s ease-in-out infinite alternate;
}
